body{
  background-image: linear-gradient(to right, #000000,#000000);

  text-transform: capitalize;
color: #fff;
font-family: "Inconsolata", monospace;

font-weight: bold;
}
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  button{
    border:none;
    border-radius:20px;
    padding:15px 20px;
    font-size:30rem !important; 
    cursor:pointer;
    width: 9rem;
    height: 4rem;
    background-image: linear-gradient(to right,#f82c03 ,#8f1800);
    color: #fff;
  }
  
  button:hover{
    background-color:#8f1800;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#ffffff;
    border-radius:5px;
    z-index: 111;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }
  .dropdown button {
    
    padding: 1px !important;
    height: 90px !;
}